---
- name: Import RabbitMQ signing key
  rpm_key:
    state: present
    key: https://github.com/rabbitmq/signing-keys/releases/download/2.0/rabbitmq-release-signing-key.asc

- name: Import Erlang signing key
  rpm_key:
    state: present
    key: https://packagecloud.io/rabbitmq/erlang/gpgkey

- name: Create Erlang repository
  copy:
    dest: /etc/yum.repos.d/rabbitmq-erlang.repo
    content: |
      [rabbitmq_erlang]
      name=rabbitmq_erlang
      baseurl=https://packagecloud.io/rabbitmq/erlang/el/7/$basearch
      repo_gpgcheck=1
      gpgcheck=1
      enabled=1
      gpgkey=https://packagecloud.io/rabbitmq/erlang/gpgkey
      sslverify=1
      sslcacert=/etc/pki/tls/certs/ca-bundle.crt

- name: Create RabbitMQ repository
  copy:
    dest: /etc/yum.repos.d/rabbitmq.repo
    content: |
      [rabbitmq_server]
      name=rabbitmq_server
      baseurl=https://packagecloud.io/rabbitmq/rabbitmq-server/el/7/$basearch
      repo_gpgcheck=1
      gpgcheck=1
      enabled=1
      gpgkey=https://packagecloud.io/rabbitmq/rabbitmq-server/gpgkey
      sslverify=1
      sslcacert=/etc/pki/tls/certs/ca-bundle.crt

- name: Install RabbitMQ and dependencies
  yum:
    name:
      - socat
      - logrotate
      - rabbitmq-server
    state: present

- name: Start and enable RabbitMQ
  systemd:
    name: rabbitmq-server
    state: started
    enabled: yes

- name: Add RabbitMQ user
  shell: |
    rabbitmqctl add_user {{ rabbitmq_user }} {{ rabbitmq_password }} 2>/dev/null || true
    rabbitmqctl set_permissions -p / {{ rabbitmq_user }} ".*" ".*" ".*"
    rabbitmqctl set_user_tags {{ rabbitmq_user }} administrator
  ignore_errors: yes
